<% if notice %>
   <p id="notice"><%= notice %></p>
<% end %>
 
<!DOCTYPE html>
<html>
    <title>Food store</title>
        <% @products.each do |product| %>
            <div class="entry">
                <%= image_tag(product.image_url, :size => "260x180") %>
                <h3><%= product.name %></h3> 
                <%= sanitize(product.description) %>
                <div class="price_line">
                    <span class="price"><%= product.price %></span>
                </div>
            </div>
        <% end %>
    </body>
</html>